body {
  
  background-color: #000;
  }
  

p {
  position: absolute;
  width: 623px;
  height: 66px;
  left: 29px;
  top: 38px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  
  color: #ffffff;
  
  }

  
/* Your To Do’s. */
h1 {

  position: absolute;
  width: 1030px;
  height: 559px;
  left: 19px;
  top: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  color: #FFFFFF;
  
  }

  /* Anytime and everywhere. */

.bluefont {
  position: absolute;
  width: 80%;
  height: 217px;
  left: 78px;
  top: 20%;
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  
  color:  rgb(53, 88, 210);
}
  

/* Try it yourself for free. */

.maintext1 {
  position: absolute;
  width: 1064px;
  height: 376px;
  left: 237px;
  top: 60%;
  
  font-family: Poppins;
  font-weight: bold;
  font-size: 300px;
  line-height: 150px;
  
  color: rgb(85, 205, 133);
  }

  .maintext2 {
    position: absolute;
    width: 1064px;
    height: 376px;
    left: 237px;
    top: 110%;
    
    font-family: Poppins;
    font-weight: bold;
    font-size: 300px;
    line-height: 150px;
    
    color: rgb(85, 205, 133);
  }