

body {
  background-color: #000;
  height: 1280 / x * 100%;
  width: 1280 / x * 100%;
  }

a {
  text-decoration: none;
  color: #FFFFFF;
}




  /* BuzhigSR & shyqu (Developers) */
  p {
    padding: 2.68% 0% 0% 3.51%inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20;

    color: #ffffff;

    }


/* about (navigation-bar) */
.aboutnav {
  position: sticky;
width: 359px;
height: 133px;
right: : 79px;
float: right;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 45px;
color: #E7D6D6;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* login (navigation-bar) */
.loginnav {
  position: sticky;
width: 129px;
height: 133px;
right: : -19px;
float: right;
font-family: Poppins;
font-weight: bold;
font-size: 30px;
line-height: 45px;
color: #E7D6D6;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


li {
  list-style: none;
}




/* Your To Do’s. */
h1 {

  position: absolute;
  width:1280 / x * 100%;
  width:1980 / x * 100%;
  height: 1280 / x * 100%;
  height: 1980 / x * 100%;
  left: 5%;
  top: 1980 / x * -6%;
  top: 1280 / x * 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  color: #FFFFFF;

  }

  /* Anytime and everywhere. */

.bluefont {
  position: absolute;
  width: 90%;
  height: 1280 / x * 100%%;
  left: 10%;
  top: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;

  color:  rgb(53, 88, 210);
}


/* Try it yourself for free. */

.maintext1 {
  position: absolute;
  width: 1064px;
  height: 10%;
  left: 10%;
  top: 25%;
  font-family: Poppins;
  font-weight: bold;
  font-size: 300px;
  line-height: 150px;

  color: rgb(85, 205, 133);
  }

  .maintext2 {
    position: absolute;
    width: 67%;
    height: 90%;
    left: 10.5%;
    top: 38%;
    font-family: Poppins;
    font-weight: bold;
    font-size: 300px;
    line-height: 150px;
    color: rgb(85, 205, 133);
  }


/* div container = button3 */
.button2nav {
  position: absolute;
}

 


  /* button:hover (applies to every button) */
  button:hover {
    color: blue;
    text-decoration-style: wavy;
    font-weight: bolder;
  }
